game/__pycache__/__init__.cpython-310.pyc
game/__pycache__/actor.cpython-310.pyc
game/__pycache__/physics.cpython-310.pyc
game/__pycache__/ship.cpython-310.pyc
game/__pycache__/menu.cpython-310.pyc
game/__pycache__/director.cpython-310.pyc
game/__pycache__/constants.cpython-310.pyc
game/__pycache__/astroid.cpython-310.pyc
